PORT=8080
DB_HOST=localhost
DB_PORT=5434
DB_USER=bankapi
DB_PASSWORD=bankapi123
DB_NAME=bankapi
JWT_SECRET=your-super-secret-jwt-key-change-this
EXCHANGE_API_KEY=your-exchangerate-api-key
RESEND_API_KEY=your-resend-api-key
RESEND_FROM=onboarding@resend.dev
REDIS_ADDR=localhost:6380